*{
	padding:0px;
	margin:0px;
}

	.top_bg {
		background-image: url(../assets/img/login-background2.jpg);
		background-position: top cente;
		background-size: cover;
		padding: 0px;
		width: 100%;
		background-repeat: no-repeat;
	}
		.form_bg{
		background: #fff;
	}
	.add_form_bg {
		background-color: #fff !important;
		box-shadow: 0px 0px 5px #000 !important;
		padding: 35px !important;
		border-radius: 10px !important;
	}
	
element.style {
}
.black_bg {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
	.error {color: #FF0000;}
	

.btn {
    padding: 5px;
}
span.place_order_text {
    font-size: 20px;
    color: #00a912;
    font-weight: 500;
}
.border_bottom {
    border-bottom: 1px solid #000;
    width: 100%;
  
}
.shop_button {
    float: right;
    margin-top: 20px;
    padding: 10px 40px;
}
.order_link{
	color: black;
}
.order_bg {
    background: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 5px 0px #000;
	padding:30px;
	border-radius: 5px;
}
img.order_img {
   max-width: 100%;
}

.order_box {
    background: #fff;
    box-shadow: 0px 0px 2px 0px #000;
    padding: 20px;
    border-radius: 5px;
}
.order_box:hover{
    background: #eee;
    box-shadow: 0px 0px 2px 0px #000;
    padding: 20px;
    border-radius: 5px;
}
.order_box p {
    font-size: 12px;
	color: black;
	
}
img.address_img {
    max-width: 70%;
}
img.location_img {
    max-width: 50%;
}
.address_bg {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    box-shadow: 0px 4px 6px 0px #afafaf;
    border-radius: 10px;
}
.border_bottom {
    border-bottom: 2px solid #ffd436;
}
.active_id {
	background-color: #a4e9a4;
	padding: 10px;
	color:#000;
}
.Inactive_id {
	background-color: #ed6060;
	padding: 10px;
	color:#fff;
}
.order_history_box {
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px #978b8b;
    padding: 30px;
}
a.customer_history_button {
    border: 1px solid #FFD333;
    padding: 6px 20px;
    background: #FFD333;
    color: #fff;
    border-radius: 5px;
}
.product_box {
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
	box-shadow: 0px 4px 5px 0px #978b8b;
	padding:20px;
}
.card {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: center;
    border: none;
    background: #f5f5f5;
}
a.loop_product {
    border: 1px solid #ffd333;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #ffd333;
	transition: .4s ease-in-out;
    color: #fff;
    text-decoration: none;
}
a.arrow-link {
    text-decoration: none;
}
a.loop_product:hover {
    border: 1px solid #ffd333;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    color: #ffd333;
    text-decoration: none;
}
.card:hover {
    box-shadow: 0px 4px 6px 0px #afafaf;
}
/* Styles for the anchor tag */
  .arrow-link {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: inline-block;
  }
  /* Styles for the arrow icon */
  .arrow-link::after {
    content: '\f054'; /* Font Awesome arrow-right icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }
  /* Keyframe animation */
  @keyframes slideLeft {
    0% {
      right: -20px;
      opacity: 0;
      visibility: hidden;
    }
    100% {
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  /* Hover effect */
  .arrow-link:hover::after {
    animation: slideLeft 0.5s forwards;
	    margin-right: -20px;
  }
  
  .payment_method_box {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 20px;
}
img.payment_img {
    width: 15%;
}

a.home_button {
    float: right;
    border: 1px solid #ffd333;
    background: #ffd333;
    padding: 10px 19px;
    border-radius: 5px;
    color: #fff !important;
	transition:.4s ease-in-out;
}
a.home_button:hover{
    float: right;
    border: 1px solid #ffd333;
    background: #fff;
    padding: 10px 19px;
    border-radius: 5px;
    color: #ffd333 !important;
}
img.show_img_after_place {
    position: absolute;
    bottom: 20px;
    left: 260px;
}
.bg-light {
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #FFF !important;
}
.customer_address_btn {
    background-color: #FFD333;
    border-color: #FFD333;
    padding: 10px 15px !important;
    border-radius: 5px;
	transition:.4s ease-in-out;
	border:2px solid #FFD333;
}
.customer_address_btn:hover {
    background-color: #f5f5f5;
    border-color: #FFD333;
	border:2px solid #FFD333;
    padding: 10px 15px !important;
    border-radius: 0px;
}