*{
	padding:0px;
	margin:0px;
}

	.top_bg {
		background-image: url(../assets/img/login-background2.jpg);
		background-position: top cente;
		background-size: cover;
		padding: 0px;
		width: 100%;
		background-repeat: no-repeat;
	}
		.form_bg{
		background: #fff;
	}
	.add_form_bg {
		background-color: #fff !important;
		box-shadow: 0px 0px 5px #000 !important;
		padding: 35px !important;
		border-radius: 10px !important;
	}
	
element.style {
}
.black_bg {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
	.error {color: #FF0000;}
	
	
.profile_border h1 {
	border-bottom: 1px solid #000;
	width: 100%;
}
.btn {
    padding: 5px;
}
span.place_order_text {
    font-size: 45px;
    color: #000;
    font-weight: 500;
}
.border_bottom {
    border-bottom: 1px solid #000;
    width: 100%;
  
}
.shop_button {
    float: right;
    margin-top: 20px;
    padding: 10px 40px;
}
.order_link{
	color: black;
}
.order_bg {
    background: #fff;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 5px 0px #000;
	padding:30px;
	border-radius: 5px;
}
img.order_img {
   max-width: 100%;
}

.order_box {
    background: #fff;
    box-shadow: 0px 0px 2px 0px #000;
    padding: 20px;
    border-radius: 5px;
}
.order_box:hover{
    background: #eee;
    box-shadow: 0px 0px 2px 0px #000;
    padding: 20px;
    border-radius: 5px;
}
.order_box p {
    font-size: 12px;
	color: black;
	
}
img.address_img {
    max-width: 70%;
}
img.location_img {
    max-width: 50%;
}
.address_bg {
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #978b8b;
	padding:30px;
	border-radius:10px;
}
.border_bottom  {
    border-bottom:2px solid #b7b3b3;
}
.active_id {
	background-color: #a4e9a4;
	padding: 10px;
	color:#000;
}
.Inactive_id {
	background-color: #ed6060;
	padding: 10px;
	color:#fff;
}
.order_history_box {
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px #978b8b;
    padding: 30px;
}
a.customer_history_button {
    border: 1px solid #FFD333;
    padding: 6px 20px;
    background: #FFD333;
    color: #fff;
    border-radius: 5px;
}